.boton{
    font-size: 25px;
    background-color: #2b2b2b;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
    color: white;
    margin-top: 30px;
    margin-left: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
}
.boton:hover{
    background-color: #4b4847;
    color: white;
}
