.admin .body header .filter-product {
  padding: 1.5rem;
}
.delete-filter {
  border: 1px solid var(--grey-200);
  padding: 22px;
}
.delete-filter:hover {
  background: var(--third-color);
  color: white;
}
nav.rdt_Pagination {
  width: -moz-fit-content;
  width: fit-content;
  margin: 3rem auto;
  border: none;
}
