button.list-group-item-action:hover {
  color: var(--third-color);
}
.sidebar .filters_container {
  background: var(--grey100);
  padding: 2rem;
}
.sidebar .filters_container .list-group-item {
  background: none;
}
