img.cart-image {
  width: 20%;
}
.listItem {
  display: flex;
  font-size: 1rem;
  align-items: center;
}
.listItem .title {
  font-weight: 600;
  font-size: 1rem;
}
.detailsCart {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
#popover-positioned-bottom {
  max-width: 400px;
}
.buttons-cart-group {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.buttons-cart-group .buttons-cart {
  width: 50%;
  font-weight: 300;
  font-size: 1rem;
  padding: 10px 0;
}
.fade.toast.show {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
.toast-header {
  padding: 1rem;
  flex-wrap: wrap;
}
.toast-body {
  padding: 1rem;
  background-color: white;
}
.cart-image-detail {
  width: 60px;
}
