.navv {
  background-color: var(--primary-color);
}

/* .img-logo{
    max-height: 70px;
} */

.container.navbar {
  padding: 0;
}
.navbar-brand {
  max-width: 110px;
}
.but {
  background-color: var(--grey200);
  border-left: var(--primary-color);
  color: var(--primary-color);
  border: none;
}

.but:hover {
  background-color: var(--grey500);
  border-color: var(--primary-color);
}
.navbar .divNav {
  display: flex;
  margin-left: 90px;
  gap: 1rem;
}
.navbar .divNav a.navLinks,
.linkcs a.nav-link {
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
}
.navbar a:hover {
  border-bottom: 1px solid white;
  color: white;
}
.navbar .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  height: 42px;
}
.navbar button.navbar-toggler.collapsed {
  background: white;
}
.navbar #navbarScroll {
  width: 100%;
}
.navbar-nav .show > .nav-link {
  color: white;
}
.navbar .carrito {
  color: white;
  width: max-content;
  border-radius: 500px;
}
.navbar a.carrito:hover {
  border-bottom: 1px solid white;
  color: var(--primary-color);
  background: white;
}
.navbar .dropdown-item:hover {
  background-color: var(--grey200);
  color: var(--primary-color);
}
.navbar-toggler {
  background: var(--grey100);
}
.iyr {
  display: flex;
  margin-left: 90px;
}

/*
ESTILOS PARA MOBILE
*/
@media (max-width: 600px) {
  .divNav {
    display: flex;
    margin-left: 0;
    flex-direction: column;
  }
  .navbar-collapse {
    margin: 1rem 0;
  }
}
